@media only screen and (max-width: 1200px) {

	.nbtc-admin .nbtc-header { margin: 0; padding: 0; min-height: 70px; }
	.nbtc-admin .nbtc-header img { height: 50px; margin: 10px 0; position: absolute; margin-left: -10px; }
	.nbtc-admin .nbtc-header .nbtc-header_content { margin-top: 8px; vertical-align: middle; width: 100%; padding-left: 45px; width: 345px; display: inline-block; }

	.nbtc-admin .nbtc-header .nbtc-menu-desktop { margin-top: -61px; }
}

@media only screen and (max-width: 1115px) {
	.nbtc-banner-box { width: 50%; margin: 10px 0; }
	figure.effect-bubba h2,
	figure.effect-bubba h2.banner-ar { padding-top: 8%; }
	figure.effect-bubba h2.banner-announcer { padding-top: 10% }
}

@media only screen and (max-width: 1000px) {
	.nbtc-elearning .nbtc-sec-left { width: 30%; }
	.nbtc-elearning .nbtc-sec-center { width: 70%; }
	.nbtc-elearning .nbtc-sec-right { width: 100%; }

	.nbtc-etesting .nbtc-sec-left { width: 30%; }
	.nbtc-etesting .nbtc-sec-center { width: 70%; }
}

@media only screen and (max-width: 940px) {
	.announcerPersonExam thead { display: none; }
	.announcerPersonExam tbody tr td:first-child { border-top: 3px solid #922d35; }
	.announcerPersonExam tbody tr:last-child { border-bottom: 3px solid #922d35; }
	.announcerPersonExam td:before { content: attr(data-th) ; font-weight: 500; width: 30%; padding-right: 20px; display: inline-block; vertical-align: text-top; }
	.announcerPersonExam th, .announcerPersonExam td { display: block; width: 100% !important; text-align: left !important; vertical-align: top; padding: 6px 10px; }
	.announcerPersonExam span { width: 68%; vertical-align: top; display: inline-block; }

	.announcerPersonResult thead { display: none; }
	.announcerPersonResult tbody tr td:first-child { border-top: 3px solid #922d35; }
	.announcerPersonResult tbody tr:last-child { border-bottom: 3px solid #922d35; }
	.announcerPersonResult td:before { color: #000000; content: attr(data-th) ; font-weight: 500; width: 30%; padding-right: 20px; display: inline-block; vertical-align: text-top; }
	.announcerPersonResult th, .announcerPersonResult td { display: block; width: 100% !important; text-align: left !important; vertical-align: top; padding: 6px 10px; }
	.announcerPersonResult span { width: 68%; vertical-align: top; display: inline-block; }

	.nbtc-admin .nbtc-btn-menu { display: block; }

	.nbtc-admin .nbtc-menu-desktop { display: none; }
	.nbtc-admin .nbtc-menu-mobile { display: block; }

	.nbtc-admin .nbtc-header .nbtc-menu-mobile { margin-top: 0; }
	.nbtc-admin .nbtc-header .nbtc-header_content { width: 100%; }

	.nbtc-admin .nbtc-admin-header { display: table; width: 100%; height: 70px; }
	.nbtc-admin .nbtc-admin-header .nbtc-header_content { display: table-cell; }

	.nbtc-config-elearning .nbtc-sec-left { width: 100%; margin-bottom: 20px; }
	.nbtc-config-elearning .nbtc-sec-center { width: 100%; }	
}

@media only screen and (max-width: 900px) {
	.nbtc-downloadlogin .nbtc-row { margin: 0 -10px; }
	.nbtc-sec-download { width: 60%; padding: 0 10px; }
	.nbtc-sec-download a span { display: none; }
	.nbtc-sec-login { width: 40%; padding: 0 10px; }
	.nbtc-sec-activity .nbtc-row { margin: 0 -10px; }
	.nbtc-sec-activity .nbtc-col1 { width: 50%; margin: 10px 0; padding: 0 10px; }

	.nbtc-header { margin: 0; padding: 0; }
	.nbtc-header .nbtc-wrapper { padding: 0; height: 70px; display: table; }
	.nbtc-header img { height: 50px; margin: 10px 0; position: absolute; margin-left: -10px; }
	.nbtc-header .nbtc-header_content { margin-top: 19px; display: table-cell; vertical-align: middle; width: 100%; padding-left: 45px; }
	.nbtc-header_content-en { font-size: 18px; }
	.nbtc-header_content-th { font-size: 14px; }

	.nbtc-home .nbtc-header .nbtc-menu { height: auto; }
	.nbtc-home .nbtc-header .nbtc-menu .nbtc-wrapper { overflow: hidden; }
	.nbtc-btn-menu { display: block; }

	.nbtc-menu-desktop { display: none; }
	.nbtc-menu-mobile { display: block; }

	.nbtc-etesting .nbtc-sec-left { width: 100%; }
	.nbtc-etesting .nbtc-sec-center { width: 100%; margin-top: 40px; padding: 0; }
	.nbtc-etesting .nbtc-sec-left .nbtc-link-sidebar { margin: 0 -20px; }
	.nbtc-etesting-time { right: 0; }

	.nbtc-account .nbtc-sec-content .nbtc-row { margin-bottom: 0; }
	.nbtc-account .nbtc-sec-content .nbtc-col3 { width: 50%; margin-top: 10px; padding: 0 10px; }
	.nbtc-account .nbtc-sec-search .nbtc-btn-primary { margin-top: 10px; }

	.nbtc-official .nbtc-sec-content .nbtc-row { margin-bottom: 0; }
	.nbtc-official .nbtc-sec-content .nbtc-col2 { margin-top: 10px; }
	.nbtc-official .nbtc-sec-content .nbtc-col3 { width: 50%; margin-top: 10px; padding: 0 10px; }
	.nbtc-official .nbtc-sec-content .nbtc-col4 { width: 50%; margin-top: 10px; padding: 0 10px; }
	
}

@media only screen and (max-width: 800px){
	.nbtc-table-responsive { min-width: inherit !important; }
	.nbtc-table-responsive thead { display: none; }
	.nbtc-table-responsive tbody tr td:first-child { border-top: 3px solid #922d35; }
	.nbtc-table-responsive tbody tr:last-child { border-bottom: 3px solid #922d35; }
	.nbtc-table-responsive td:before { content: attr(data-th) ; font-weight: 500; width: 30%; padding-right: 20px; display: inline-block; vertical-align: text-top; font-family: 'Kanit' !important; color: #000000; }
	.nbtc-table-responsive th, 
	.nbtc-table-responsive td { display: block; width: 100% !important; text-align: left !important; vertical-align: top; padding: 6px 10px; }
	.nbtc-table-responsive span:not(.bar) { width: 68%; vertical-align: top; display: inline-block; word-break: break-all; }
	.nbtc-table-responsive .nbtc-ic_check:after { content: "\e919"; } 
	.nbtc-table-responsive .nbtc-ic_close:after { content: "\e903"; } 
}

@media only screen and (max-width: 700px) {
	.nbtc-sec-download { width: 100%; }
	.nbtc-sec-login { width: 100%; margin-top: 50px; }
	
	.nbtc-elearning .nbtc-sec-left { width: 100%; }
	.nbtc-elearning .nbtc-sec-left .nbtc-link-sidebar { margin: 0 -20px; }
	.nbtc-elearning .nbtc-sec-left .nbtc-search { margin-top: 0; }
	.nbtc-elearning .nbtc-sec-center { width: 100%; margin-top: 40px; padding: 0; }
	.nbtc-elearning .nbtc-sec-center ul { padding: 0; }

	.nbtc-step-col p { font-size: 14px; }
	.nbtc-step-ico { width: 45px; height: 45px; line-height: 40px; }
	.nbtc-step-col p:after,
	.nbtc-step-col p:before { top: 25px; }

	figure.effect-bubba h2.banner-ar { padding-top: 14%; }
	figure.effect-bubba h2.banner-announcer { padding-top: 16% }
}

@media only screen and (max-width: 600px) {
	.nbtc-official #addCard .nbtc-col2 { width: 100%; }
}

@media only screen and (max-width: 500px) {
	.nbtc-banner-box { width: 100%; }
	.nbtc-sec-activity .nbtc-col1 { width: 100%; }

	.nbtc-etesting .nbtc-answer { width: 100%; display: block; }
	.nbtc-etesting .nbtc-sec-center h3 { text-align: center; font-size: 24px; }
	.nbtc-etesting-time { position: relative; top: inherit; right: inherit; text-align: center; margin: 10px auto; padding: 5px 10px; border: 1px solid; width: 200px; display: block; font-size: 24px; }
	.nbtc-etesting-time i { font-size: 22px; vertical-align: middle; margin-top: -4px; }
	.nbtc-etesting-time span { font-size: 18px; }

	.nbtc-table-responsive td:before { max-width: inherit; width: 40%; }
	.nbtc-table-responsive span:not(.bar) { width: 58%; vertical-align: top; display: inline-block; }
	.announcerPersonExamlocation td:before { width: 30%; }

	.nbtc-user .nbtc-col2,
	.nbtc-user .nbtc-col3 { width: 100%; margin-top: 10px; }
	.nbtc-user .nbtc-sec-content .nbtc-row { margin-top: -5px; }

	.nbtc-sec-steps { margin: 0 -18px !important; margin-bottom: 20px !important; }
	.nbtc-step-col p { font-size: 12px; padding: 2px; }
	.nbtc-step-ico { width: 40px; height: 40px; font-size: 20px; line-height: 32px; }
	.nbtc-step-col p:after,
	.nbtc-step-col p:before { top: 20px; }

	.nbtc-announcer { padding-bottom: 30px; }
	.nbtc-announcer .nbtc-content { padding-top: 30px; }
	.nbtc-announcer .nbtc-content .nbtc-wrapper { padding: 0 15px; }
	.nbtc-announcer .nbtc-sec-content { padding: 30px 20px; }

	.nbtc-certificate-status .nbtc-field_radio { display: block; margin: 10px 0; }

	.nbtc-modal .nbtc-row,
	.nbtc-modal .nbtc-row:first-child { margin-top: 0 !important; }

	.nbtc-account .nbtc-sec-center { padding: 0 15px; }
	.nbtc-account .nbtc-sec-content { padding-left: 20px; padding-right: 20px; }
	.nbtc-account .nbtc-sec-content .nbtc-col3 { width: 100%; margin-top: 10px; }
	.nbtc-account .nbtc-sec-content .nbtc-col2 { width: 100%; margin-top: 10px; }

	.nbtc-account .nbtc-config-content { padding: 0; }
	.nbtc-config-content .nbtc-group-btn { float: none; }
	.nbtc-config-content .nbtc-group-btn .nbtc-btn { width: 40%; }

	#typeOfPayment .nbtc-tabs li { width: 50%; }
	#typeOfPayment .nbtc-tabs li a { padding: 15px 5px; }

	#editVat .nbtc-btn,
	#editPaymentCheck .nbtc-btn { width: 40%; max-width: 130px; }

	.nbtc-official { padding-bottom: 15px; }
	.nbtc-official .nbtc-group-col1 { margin-top: 15px; }
	.nbtc-official .nbtc-sec-center { padding: 0 15px; }
	.nbtc-official .nbtc-sec-content { padding-left: 20px; padding-right: 20px; }
	.nbtc-official .nbtc-sec-content .nbtc-col3 { width: 100%; }
	.nbtc-official .nbtc-sec-content .nbtc-col2 { width: 100%; }
	.nbtc-official .nbtc-sec-content .nbtc-col4 { width: 100%; }
	.nbtc-official .nbtc-sec-searchresult { margin-top: 15px; }
	.nbtc-official.official-importcard .nbtc-table-responsive td:last-child { text-align: center !important; }
	.nbtc-official.official-importcard .nbtc-table-responsive td:last-child:before { display: none; }

	#addCard .nbtc-group-btn .nbtc-btn,
	#addExaminer .nbtc-group-btn .nbtc-btn { width: 40%; max-width: 130px; }

	.nbtc-sec-content .nbtc-content-options { right: 15px; }
	.nbtc-sec-content .nbtc-content-options a { margin-left: 5px; }
	.content-readonly > h2 { padding-right: 70px; }

	.nbtc-config-elearning .nbtc-container { padding-bottom: 15px; }
	.nbtc-config-elearning .nbtc-group-col2 { margin-top: 15px; }
	.nbtc-config-elearning .nbtc-sec-content { padding-left: 20px; padding-right: 20px; }
	.nbtc-config-elearning .nbtc-sec-content .nbtc-row { margin-bottom: 0; }
	.nbtc-config-elearning .nbtc-sec-content .nbtc-col2 { width: 100%; margin-top: 10px; }
	.nbtc-config-elearning .nbtc-field-title.subcourse { margin-top: 10px; }
	.nbtc-config-elearning .nbtc-sec-content .nbtc-group-btn { margin-left: -5px; margin-right: -5px; }
	.nbtc-config-elearning .nbtc-sec-content .nbtc-group-btn .nbtc-btn { width: 40%; max-width: 130px; }
	.nbtc-config-elearning .nbtc-sec-search .nbtc-search-list { height: auto !important; max-height: 300px !important; }
	.nbtc-config-elearning .nbtc-row.margintop { margin-top: 30px !important; }

	.nbtc-config { padding-bottom: 15px; }
	.nbtc-config .nbtc-group-col1 { margin-top: 15px; }
	.nbtc-config .nbtc-sec-content { padding-left: 20px; padding-right: 20px; }
	.nbtc-config .nbtc-sec-content .nbtc-row { margin-bottom: 0; }
	.nbtc-config .nbtc-sec-content .nbtc-col2 { width: 100%; margin-top: 10px; }
	.nbtc-config .nbtc-sec-content .nbtc-col1 { width: 100%; margin-top: 10px; }
	.nbtc-config .nbtc-sec-content .nbtc-col4 { width: 100%; margin-top: 10px; }
	.nbtc-config .nbtc-sec-content .nbtc-col3 { width: 100% !important; margin-top: 10px !important; }
	.nbtc-config .nbtc-sec-content .nbtc-group-btn { margin-left: -5px; margin-right: -5px; }
	.nbtc-config .nbtc-sec-content .nbtc-group-btn .nbtc-btn { width: 40%; max-width: 130px; }
	.nbtc-config .margintop { margin-top: 30px !important; }

	figure.effect-bubba h2,
	figure.effect-bubba h2.banner-ar { padding-top: 8%; }
	figure.effect-bubba h2.banner-announcer { padding-top: 10% }
}

@media only screen and (max-width: 414px) {
	figure.effect-bubba h2 { padding-top: 11%; }
	figure.effect-bubba h2.banner-ar { padding-top: 11%; }
	figure.effect-bubba h2.banner-announcer { padding-top: 14% }
	figure.effect-bubba:hover h2 { padding-top: 7.2%; }
	figure.effect-bubba:hover h2.banner-ar { padding-top: 9.2%; }
	figure.effect-bubba:hover h2.banner-announcer { padding-top: 11.2%; }
}

@media only screen and (max-width: 400px) {
	.nbtc-announcer .nbtc-content h2 { margin-bottom: 40px; }
	.nbtc-btn-chooseannouncer { margin: 10px 0; font-size: 22px; }
}

@media only screen and (max-width: 360px) {
	.nbtc-header_content-en { font-size: 15px; }
	.nbtc-header_content-th { font-size: 13px; }

	.nbtc-admin .nbtc-header .nbtc-header_content { margin-top: 12px; }
	.nbtc-admin .nbtc-header_content-en { font-size: 15px; }
	.nbtc-admin .nbtc-header_content-th { font-size: 13px; }

	figure.effect-bubba h2 { padding-top: 10%; }
	figure.effect-bubba h2.banner-ar { padding-top: 14%; }
	figure.effect-bubba h2.banner-announcer { padding-top: 18% }
	figure.effect-bubba:hover h2 { padding-top: 6.2%; }
	figure.effect-bubba:hover h2.banner-ar { padding-top: 11.2%; }
	figure.effect-bubba:hover h2.banner-announcer { padding-top: 12.2%; }
}