@font-face {
  font-family: 'afms';
  src:  url('fonts/afms.eot?655804');
  src:  url('fonts/afms.eot?655804#iefix') format('embedded-opentype'),
    url('fonts/afms.ttf?655804') format('truetype'),
    url('fonts/afms.woff?655804') format('woff'),
    url('fonts/afms.svg?655804#afms') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="afms-ic_"], [class*=" afms-ic_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'afms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.afms-ic_mobile:before {
  content: "\e92f";
}
.afms-ic_afm:before {
  content: "\e92c";
}
.afms-ic_handheld:before {
  content: "\e92d";
}
.afms-ic_remote:before {
  content: "\e92e";
}
.afms-ic_dir_ahead:before {
  content: "\e924";
}
.afms-ic_dir_down:before {
  content: "\e92a";
}
.afms-ic_dir_left:before {
  content: "\e925";
}
.afms-ic_dir_right:before {
  content: "\e92b";
}
.afms-ic_direction_car:before {
  content: "\e926";
}
.afms-ic_direction_bus:before {
  content: "\e927";
}
.afms-ic_direction_transit:before {
  content: "\e928";
}
.afms-ic_direction_walk:before {
  content: "\e929";
}
.afms-ic_swap:before {
  content: "\e923";
}
.afms-ic_waypoint:before {
  content: "\e920";
}
.afms-ic_destination:before {
  content: "\e921";
}
.afms-ic_start:before {
  content: "\e922";
}
.afms-ic_mappin .path1:before {
  content: "\e91e";
  color: rgb(255, 75, 38);
}
.afms-ic_mappin .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(217, 63, 33);
}
.afms-ic_control:before {
  content: "\e91d";
}
.afms-ic_focus:before {
  content: "\e91c";
}
.afms-ic_check:before {
  content: "\e91b";
}
.afms-ic_stop:before {
  content: "\e91a";
}
.afms-ic_pause:before {
  content: "\e919";
}
.afms-ic_delete:before {
  content: "\e917";
}
.afms-ic_dropdown_arrow:before {
  content: "\e914";
}
.afms-ic_tune:before {
  content: "\e913";
}
.afms-ic_filter:before {
  content: "\e911";
}
.afms-ic_minus:before {
  content: "\e909";
}
.afms-ic_notice:before {
  content: "\e918";
}
.afms-ic_view:before {
  content: "\e915";
}
.afms-ic_radar:before {
  content: "\e912";
}
.afms-ic_play:before {
  content: "\e908";
}
.afms-ic_prev:before {
  content: "\e408";
}
.afms-ic_next:before {
  content: "\e409";
}
.afms-ic_down:before {
  content: "\e40a";
}
.afms-ic_up:before {
  content: "\e40b";
}
.afms-ic_edit:before {
  content: "\e254";
}
.afms-ic_date:before {
  content: "\e916";
}
.afms-ic_exit:before {
  content: "\e879";
}
.afms-ic_record:before {
  content: "\e061";
}
.afms-ic_first_page:before {
  content: "\e5dc";
}
.afms-ic_last_page:before {
  content: "\e5dd";
}
.afms-ic_print:before {
  content: "\e8ad";
}
.afms-ic_play_filled:before {
  content: "\e038";
}
.afms-ic_play_outline:before {
  content: "\e039";
}
.afms-ic_download:before {
  content: "\e90a";
}
.afms-ic_home:before {
  content: "\e90b";
}
.afms-ic_lock:before {
  content: "\e900";
}
.afms-ic_menu:before {
  content: "\e901";
}
.afms-ic_plus_circle:before {
  content: "\e905";
}
.afms-ic_plust_square:before {
  content: "\e906";
}
.afms-ic_plus:before {
  content: "\e910";
}
.afms-ic_power:before {
  content: "\e902";
}
.afms-ic_printer:before {
  content: "\e907";
}
.afms-ic_radio:before {
  content: "\e90c";
}
.afms-ic_search:before {
  content: "\e903";
}
.afms-ic_unlock:before {
  content: "\e904";
}
.afms-ic_upload:before {
  content: "\e90d";
}
.afms-ic_wifi:before {
  content: "\e90e";
}
.afms-ic_close:before {
  content: "\e90f";
}
