html, body {
	height: 100%;
	overflow: auto;
}
body {
	padding: 0;
	margin: 0;
}
#layout {height:100%;}
#mainmap {display:none}

#UserName,#Password{width:166px;height:22px;line-height:22px;font-size:16px;background-color:#4F81BC;border:0px;color:#ffffff;padding-left:5px}
#UserName{margin-top:2px}
#Password{margin-top:9px}
#bLogin{background:url(../images/Login.jpg);border:0px;width:119px;height:41px;margin:15px 0 0 55px}
